@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Grand+Hotel&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
}

/* adding style on the buttons */
.btnStyle{
    padding: 0.5rem 1.7rem;
    font-size: 18px;
}

.bgPink{
    background-color: #f1c9c4;
}

.fontSixe19px{
    font-size: 19px;
    font-weight: 500;
    opacity: 0.9;
}

.fontSize50px{
    font-size: 50px;
}

.fontColorGrey{
    color: #484f5b !important;
}

.navBarLists{
    gap: 3.1rem;
}

/* this is to create the underline on the anchor tags when user hover over that anchor tag */
.navItemUnderLine{
    height: 3px;
    bottom: 0;
    width: 0%;
    transition: 0.5s;
}

/* styling for the first container balanceYourBodyAndMind */
.headingsFontSize{
    font-size: 4.2rem !important;
}

.balanceYourBodyAndMind{
    padding: 5rem 0 2rem 0;
    background-image: url(../images/balanceYourBodyAndMindTopLeft.png), url(../images/balanceYourBodyAndMindTopRight.png), url(../images/balanceYourBodyAndMindBottomRight.png), url(../images/balanceYourBodyAndMindLeaf.png), url(../images/balanceYourBodyAndMindBubble.png);
    background-position: top -4% left 0, top 0 right 0, bottom 0 right 0, top 77% left 16%, top 40% left 12%;
    background-size: 18.5%, 18%, 14%, 9%, 10%;
    background-repeat: no-repeat;
}

.balanceYourBodyAndMindText,.yogaBreatingAndPranayamText,.yogaTrainingVideoShowReelText{
    width: 46% !important;
}

.balanceYourBodyAndMindImg{
    width: 47% !important;
}

.balanceYourBodyContainerWomenImg{
    transform: translate(-7%,0);
}

.joinNowText > button{
    padding: 0.5rem 2.6rem !important;
}

/* this is to style the second container which is various programs for the pregnant women */
.pregnantWomenProgram{
    background-image: url(../images/pregnantWomenProgrmImg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 6rem 0 9rem 0;
}

.yogaBreatingAndPranayam{
    padding: 6rem 0;
    background-image: url(../images/yogaBreatingAndPranayamTopLeft.png), url(../images/yogaBreatingAndPranayamTopCenter.png), url(../images/yogaBreatingAndPranayamTopRight.png), url(../images/yogaBreatingAndPranayamBottomLeft.png);
    background-position: top 0% left 0, top 9% left 55%, top 10% right 3%, left 0 bottom 0;
    background-size: 9%, 19%, 14%, 7%;
    background-repeat: no-repeat;
}

.joinNowContainer{
    padding: 6rem 0;
    background-image: url(../images/joinUsNowImg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.galeryCards{
    width: 28.5%;
    box-shadow: #ccc9c9 5px 7px 20px 0px;
    overflow: hidden;
}

.galeryCards > .card{
    border-radius: 0 !important;
}

/* adding drop shadow on the image */
.yogaTrainingVideoShowReelImg{
    filter: drop-shadow(11px 14px 20px rgba(24, 24, 23,0.7));
}

.socialMediaIconsBox{
    background-color: #424e5b;
}

.fbIcon{
    padding: 3px 11px 4.5px 11px !important;
}

.instaIcon{
    padding: 2.5px 4.4px 4.5px 5.2px !important;
}

.twitterIcon{
    padding: 3px 6px 4.5px 5px !important;
}

.yogaTrainingVideoShowReel{
    padding: 8rem 0;
    background-color: #eecdc7;
}

textarea{
    resize: none;
}

.formInputStyle{
    background-color: #eff0ef;
    border: 1.5px solid #b7b8b7 !important;
    font-size: 18.4px;
    padding: 11px 32px;
}

footer,footer a{
    color: #c6cace;
    background-color: #424e5b;
    font-size: 14.5px;
    text-decoration: none;
    font-weight: 500;
}

.footerLeft{
    width: 68%;
}

.yourCompanyHeadingFooter{
    font-size: 20px;
}





/* to set the background images */
.joinNowBrushImg{
    transform: translate(-14%, -16%);
}

.getInTouchBrushOne{
    transform: translate(-49%, 13%);
}

.getInTouchBrushTwo{
    bottom: 0;
    right: 0;
    transform: translate(56%, 0%);
}

.yogaBreatingAndPranayamImgBottomLeft{
    bottom: -7%;
    left: -3%;
}

.yogaBreatingAndPranayamImgBottomRight{
    bottom: -14%;
    right: -5%;
}

.galery{
    background-image: url(../images/galeryTopLeft.png), url(../images/galeryTopRight.png), url(../images/galeryCenter.png), url(../images/galeryBottomLeft.png), url(../images/galeryBottomRight.png);
    background-position: top 17% left 4%, top -1% right 0, bottom 15% left 32%, left 0 bottom 0, bottom 3% right 2%;
    background-size: 18%, 11%, 7%, 15%, 17%;
    background-repeat: no-repeat;
}

.getInTouch{
    background-image: url(../images/getInTouchBottomLeft.png), url(../images/getInTouchTopRight.png), url(../images/getInTouchBubble.png);
    background-position: bottom 0 left 0, top -2% right 0, bottom 3% right 20%;
    background-size: 15%, 10%, 2%;
    background-repeat: no-repeat;
}














/* these are the hover effects and animations */
.nav-item:hover > .navItemUnderLine{
    width: 100%;
    background-color: #424e5b;
}

.navLeaf:hover{
    animation: shake 0.4s ease-in-out;
    cursor: pointer;
}

/* shake the leaf of the navBR */
@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}


/* this is to add border and box shadow on the containerThreeYogaPostureProgramCard when the user hover over it */
.containerThreeYogaPostureProgramCard{
    position: relative;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s;
}

.containerThreeYogaPostureProgramCard:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    scale: 1.03;
}

.containerThreeYogaPostureProgramCard::before,.containerThreeYogaPostureProgramCard::after{
    position: absolute;
    content: "";
    border-style: solid;
    border-color: #dd7973;
    transition: 0.5s;
    z-index: -1;
}

.containerThreeYogaPostureProgramCard::before{
    width: 100%;
    height: 0%;
    border-width: 0 2px;
    top: 50%;
    transform: translate(0px,-50%);
}

.containerThreeYogaPostureProgramCard::after{
    width: 0;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%,0px);
    border-width: 2px 0;
}

.containerThreeYogaPostureProgramCard:hover::before{
    height: 100% ;
}

.containerThreeYogaPostureProgramCard:hover::after{
    width: 100%;
}

/* add shadow on image of container balanceYourBodyAndMind */
.balanceYourBodyAndMindImg:hover{
    filter: drop-shadow(10px 10px 20px rgb(24, 24, 23));
    cursor: pointer;
}

button{
    position: relative;
    overflow: hidden;
    z-index: 1;
}

button::before,button::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    background-color: #dd7973;
    z-index: -1;
    transition: all 0.5s;
}

button::before{
    opacity: .5;
}
  
button::after{
    transition-delay: .2s;
}
  
button:hover{
    color: #fff !important;
}
  
button:hover::before,button:hover::after{
    top: 0;
}

/* this is to add the hover effect on the cards of galery */
.card{
    overflow: hidden;
    transition: .5s;
}

.galeryCards:hover .card{
    opacity: .5;
    transform: translateX(30%);
}

.galeryCards .details{
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f1c9c4;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}

.galeryCards:hover .details{
    transform: perspective(2000px) rotateY(0deg);
}

.galeryCards .details .center{
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}